body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.li_list{
    display: inline-block;
}
.teacher_li{
    margin-bottom: 5px;
}
.teacher_li:hover{
    cursor: pointer;
}

.center1 {
    text-align: center;
    position: fixed;
    margin-left: 100px;
}

#changeTeacher,#delTeacher{
    margin-left: 20px;
    display: none ;
}



